.scroll_parent {
  /* position: absolute;
  top: calc(50% - 202px);
  left: 440px; */
  width: calc(100vw - 440px);
  height: 450px;
  overflow: hidden;
  float: right;
  position: relative;
  top: calc(50vh - 215px);
}
.project_container {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}
.project_item {
  width: 250px;
  height: 404px;
  /* background-color: rgba(82, 22, 206, 1); */
  opacity: 1;
  border-radius: 10px;
  margin: 20px 25px;
  float: left;
  position: relative;
  cursor: pointer;
}
.project_mask {
  width: 2000px;
}
.bg_image {
  height: 100%;
  width: 100%;
  opacity: 1;
  border-radius: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
}
.illustration {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}
.mask {
  height: 100%;
  width: 250px;
  height: 404px;
  opacity: 0.3;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 8;
}
.project_desc {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  text-align: center;
  z-index: 12;
  position: absolute;
  bottom: 20px;
  padding: 20px;
  width: 210px;
}
.project_info {
  width: 100%;
  height: 100%;
  z-index: 15;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.project_name {
  font-size: 22px;
  font-weight: bold;
  line-height: 41px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  text-align: center;
  position: absolute;
  top: 80px;
  width: 100%;
}
.project_detail {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  text-align: center;
  position: absolute;
  top: 124px;
  padding: 10px 18px;
}
.project_github {
  width: 138px;
  height: 44px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 22px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
  color: rgba(82, 22, 206, 1);
  position: absolute;
  bottom: 41px;
  margin-left: 55px;
}
.project_github:hover {
  text-decoration: underline;
}
.project_spring {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(82, 22, 206, 1);
  border-radius: 10px;
}
